[Desktop Entry]
Name=Wolia Deck
Comment=Modern presentation application
GenericName=Presentation
Exec=wolia-deck %F
Icon=wolia
Terminal=false
Type=Application
Categories=Office;Presentation;
MimeType=application/vnd.wolia.presentation;application/vnd.openxmlformats-officedocument.presentationml.presentation;
Keywords=presentation;slides;powerpoint;
StartupNotify=true
StartupWMClass=wolia-deck
